{% for entry in site.data.navigation %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}

<!-- Overlay -->
<div class="navigation__overlay grid-y align-center" id="navigation__overlay" data-toggler=".open">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x align-center">
    	<div class="shrink cell" data-aos="fade-up">
    		
    		<ul class="vertical menu text-center">
        {% for entry in site.data.navigation %}
          {% if entry.url == current_page %}
          {% assign current = ' class="active"' %}
          {% else %}
          {% assign current = null %}
          {% endif %}
          <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" data-toggle="toggle" data-toggler=".is-active">{{ entry.title }}</a></li>
          {% endfor %}
        </ul>

    	</div>
    </div>
  </div>
</div>
<!-- End Overlay -->

<!-- Navigation -->
<section class="navigation grid-x grid-padding-x grid-padding-y align-justify">
  
  <div class="navigation__title shrink cell">
<!--     <a data-toggle="navigation__overlay toggle" data-toggler=".is-active">{{site.title}}</a> -->
    <a href="/">B—C</a>
  </div>
  
  <div class="shrink navigation__small">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggle="navigation__overlay toggle" data-toggler=".is-active" type="button">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
  </div>

</section>
<!-- End Navigation -->