@font-face {
  font-family: 'Maria';
  src: 
  url('../fonts/maria.woff2') format('woff2'), 
  url('../fonts/maria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Postal';
  src: 
  url('../fonts/postal.woff2') format('woff2'), 
  url('../fonts/postal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}