//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Home

// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {  
  cursor: default;
}

body {
  opacity: 1;
  transition: $primary-transition;
}

body.fade-out {
  opacity: 0;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

[data-aos] {
overflow: hidden;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

.menu .menu-text {
  font-weight: $global-weight-normal;
}

// X. Navigation
// ------

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1rem;
}

.navigation__small {
  z-index: 2;
}

.navigation__overlay {
  z-index: 1;
  position: fixed;
  background: $color--black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 0;
  transition: $primary-transition;
  visibility: hidden;
  font-size: 1.5rem;

  &.open {
    opacity: 0.9;
    visibility: visible;
  }
  
  a {
    color: $color--white;
  }
  
  a:hover {
    color: $color--medium-gray;
  }
  
  .menu .active>a {
    color: $color--medium-gray;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $color--white;
  } 
}

// 2. Page
// ---------

.page {
  padding: 2rem;
}

article {
  border-bottom: 1px solid $color--white;
  padding: 1rem;
}

// 2. Footer
// ---------

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1;
}

.follow__small {
  z-index: 2;
}

a#footer__follow.is-active  {
  border-bottom: 2px solid $color--white;
}

.follow__overlay {
  z-index: 1;
  position: fixed;
  background: $color--black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 0;
  transition: $primary-transition;
  visibility: hidden;
  font-size: 1.5rem;

  &.open {
    opacity: 0.9;
    visibility: visible;
  }
  
}